In [1]:
import pandas as pd
import numpy as np
import simplejson
from datetime import datetime, timedelta

<b>Let's start reading in the data</b>

In [2]:
data_path = 'yelp_dataset_challenge_academic_dataset/yelp_academic_dataset_business.json'
data = pd.read_json(data_path, lines=True)
data.head()

,attributes,business_id,categories,city,full_address,hours,latitude,longitude,name,neighborhoods,open,review_count,stars,state,type
0,"{'Take-out': True, 'Drive-Thru': False, 'Good ...",5UmKMjUEUNdYWqANhGckJw,"[Fast Food, Restaurants]",Dravosburg,"4734 Lebanon Church Rd\nDravosburg, PA 15034","{'Friday': {'close': '21:00', 'open': '11:00'}...",40.354327,-79.900706,Mr Hoagie,[],True,7,3.5,PA,business
1,"{'Happy Hour': True, 'Accepts Credit Cards': T...",UsFtqoBl7naz8AVUBZMjQQ,[Nightlife],Dravosburg,"202 McClure St\nDravosburg, PA 15034",{},40.350553,-79.886814,Clancy's Pub,[],True,5,3.0,PA,business
2,{'Good for Kids': True},cE27W9VPgO88Qxe4ol6y_g,"[Active Life, Mini Golf, Golf]",Bethel Park,"1530 Hamilton Rd\nBethel Park, PA 15234",{},40.354115,-80.014660,Cool Springs Golf Center,[],False,5,2.5,PA,business
3,"{'Alcohol': 'full_bar', 'Noise Level': 'averag...",mVHrayjG3uZ_RLHkLj-AMg,"[Bars, American (New), Nightlife, Lounges, Res...",Braddock,"414 Hawkins Ave\nBraddock, PA 15104","{'Tuesday': {'close': '19:00', 'open': '10:00'...",40.408830,-79.866211,Emil's Lounge,[],True,26,4.5,PA,business
4,"{'Parking': {'garage': False, 'street': False,...",mYSpR_SLPgUVymYOvTQd_Q,"[Active Life, Golf]",Braddock,"1000 Clubhouse Dr\nBraddock, PA 15104","{'Sunday': {'close': '15:00', 'open': '10:00'}...",40.403405,-79.855782,Grand View Golf Club,[],True,3,5.0,PA,business

In [6]:
''' Here's another way of loading the json file using simplejson

data_path = 'yelp_dataset_challenge_academic_dataset/yelp_academic_dataset_business.json'

business_data = []

#data = pd.read_json(data_path, lines=True)
with open(data_path) as filestream:
    for line in filestream:
        business_data.append(simplejson.loads(line))
        

#data.head()
business_df = pd.DataFrame(business_data[:1000])
business_df.head()
'''

" Here's another way of loading the json file using simplejson\n\ndata_path = 'yelp_dataset_challenge_academic_dataset/yelp_academic_dataset_business.json'\n\nbusiness_data = []\n\n#data = pd.read_json(data_path, lines=True)\nwith open(data_path) as filestream:\n    for line in filestream:\n        business_data.append(simplejson.loads(line))\n        \n\n#data.head()\nbusiness_df = pd.DataFrame(business_data[:1000])\nbusiness_df.head()\n"

<b>Exercise 1: Create a new column that contains only the zipcode.</b>

In [16]:
'''
for row in data.iterrows():

   data['zip_code'] = row [1]['full_address'][len(row)-7:]

print (data['zip_code'][:5])
'''

"\nfor row in data.iterrows():\n\n   data['zip_code'] = row [1]['full_address'][len(row)-7:]\n\nprint (data['zip_code'][:5])\n"

In [3]:
# Another way is to do a split on full_address and get the last element
# (much faster)
data.full_address[0].split(' ')[-1]

# axis : {0 or ‘index’, 1 or ‘columns’}, default 0
# 0 or ‘index’: apply function to each column
# 1 or ‘columns’: apply function to each row
data['zip_code'] = data.apply(lambda x: x['full_address'].split(' ')[-1], 1)
print (data['zip_code'][:5])

0    15034
1    15034
2    15234
3    15104
4    15104
Name: zip_code, dtype: object

<b>Exercise 2: The table contains a column called 'categories' and each entry in this column is populated by a list. We are interested in those businesses that restaurants. Create a new column 'Restaurant_type' that contains a description of the restaurant based on the other elements of 'categories. </b>

That is, if we have '[Sushi Bars, Japanese, Restaurants]' in categories the 'Restaurant_type will be '{'SushiBars': 1, 'Japanese': 1, 'Mexican': 0, ...}'

In [4]:
rest_type = {}
for idx, row in data.iterrows():
    if "Restaurants" in row['categories']:
        #print (row['categories'])
        for element in row['categories']:
            if element != "Restaurants":
                # initialize the dictionary key
                if element in rest_type.keys():
                    rest_type[element] += 1
                    data['Restaurant_type'] = rest_type[element]
                else:
                    rest_type[element] = 0

In [5]:
print (data['Restaurant_type'].head())

0    2704
1    2704
2    2704
3    2704
4    2704
Name: Restaurant_type, dtype: int64

In [6]:
print (rest_type)

{'Fast Food': 3153, 'Bars': 2693, 'American (New)': 1670, 'Nightlife': 2805, 'Lounges': 222, 'American (Traditional)': 2607, 'Burgers': 1959, 'Breakfast & Brunch': 1608, 'Sandwiches': 2665, 'Cafes': 1099, 'Pubs': 445, 'Irish': 69, 'Pizza': 2880, 'Chinese': 1713, 'Diners': 395, 'Italian': 1938, 'Comfort Food': 100, 'Caterers': 90, 'Event Planning & Services': 187, 'Arts & Entertainment': 188, 'Arcades': 16, 'Food': 2368, 'Breweries': 73, 'Gluten-Free': 230, 'Asian Fusion': 553, 'Soup': 160, 'Salad': 539, 'Seafood': 747, 'Sports Bars': 648, 'Steakhouses': 635, 'Japanese': 921, 'Hot Dogs': 286, 'Tapas/Small Plates': 119, 'Coffee & Tea': 619, 'Barbeque': 645, 'Mediterranean': 613, 'Wine Bars': 295, 'Vegetarian': 310, 'Health Markets': 8, 'Specialty Food': 215, 'Portuguese': 72, 'Chicken Wings': 811, 'Ice Cream & Frozen Yogurt': 197, 'German': 189, 'Delis': 729, 'Beer, Wine & Spirits': 74, 'Polish': 27, 'Greek': 438, 'Sushi Bars': 858, 'Dive Bars': 67, 'Indian': 460, 'Mexican': 2704, 'Tex-Mex': 347, 'Bagels': 131, 'Tapas Bars': 115, 'Cocktail Bars': 147, 'Ethnic Food': 91, 'Grocery': 98, 'Middle Eastern': 288, 'Cafeteria': 4, 'Korean': 246, 'Vietnamese': 388, 'Thai': 553, 'Bakeries': 384, 'Tea Rooms': 37, 'Bed & Breakfast': 2, 'Hotels & Travel': 43, 'Peruvian': 56, 'Latin American': 211, 'Creperies': 82, 'French': 487, 'Hotels': 36, 'Taiwanese': 47, 'Buffets': 434, 'Southern': 184, 'Cajun/Creole': 103, 'Soul Food': 116, 'Dance Clubs': 37, 'Caribbean': 121, 'Fondue': 24, 'Pakistani': 93, 'Ethiopian': 32, 'Jazz & Blues': 16, 'Persian/Iranian': 44, 'Hookah Bars': 30, 'Meat Shops': 23, 'Gas & Service Stations': 5, 'Automotive': 5, 'Convenience Stores': 19, 'Music Venues': 85, 'Active Life': 44, 'Bowling': 9, 'Donuts': 38, 'Noodles': 60, 'Lebanese': 56, 'Desserts': 215, 'Venues & Event Spaces': 52, 'Pool Halls': 17, 'Spanish': 89, 'Cheesesteaks': 72, 'Fish & Chips': 112, 'Salvadoran': 28, 'Shopping': 37, 'Antiques': 1, 'British': 174, 'Cheese Shops': 18, 'Kosher': 35, 'Ramen': 46, 'New Mexican Cuisine': 8, 'Vegan': 217, 'Hawaiian': 149, 'Cuban': 35, 'Gastropubs': 166, 'Russian': 16, 'Party & Event Planning': 5, 'Fruits & Veggies': 3, 'Karaoke': 58, 'Teppanyaki': 7, 'Seafood Markets': 12, 'Performing Arts': 4, 'Halal': 59, 'Dim Sum': 56, 'Fashion': 2, 'Sporting Goods': 3, 'Golf': 14, 'Sports Wear': 0, 'Juice Bars & Smoothies': 184, 'Cinema': 3, 'Country Dance Halls': 1, 'Cupcakes': 3, 'Pasta Shops': 4, 'Mongolian': 27, 'Country Clubs': 1, 'Casinos': 34, 'Social Clubs': 2, 'Colombian': 16, 'Filipino': 83, 'Food Delivery Services': 41, 'Butcher': 10, 'Argentine': 10, 'Cantonese': 27, 'Pretzels': 1, 'Szechuan': 31, 'Belgian': 16, 'Cambodian': 7, 'Hungarian': 2, 'Bubble Tea': 17, 'Laotian': 6, 'African': 47, 'Adult Entertainment': 2, 'Basque': 17, 'Toy Stores': 1, 'Beer Bar': 21, 'Himalayan/Nepalese': 15, 'Moroccan': 25, 'Falafel': 12, 'Indonesian': 11, 'Turkish': 79, 'Afghan': 17, 'Internet Cafes': 9, 'Supper Clubs': 0, 'Shaved Ice': 9, 'Waffles': 6, 'Food Stands': 80, 'Modern European': 61, 'Golf Equipment Shops': 0, 'Shopping Centers': 1, 'Amusement Parks': 3, 'Candy Stores': 1, 'Irish Pub': 6, 'Brazilian': 36, 'Piano Bars': 1, 'Personal Chefs': 2, 'Food Court': 37, 'Malaysian': 11, 'Gay Bars': 5, 'Gelato': 9, 'Organic Stores': 2, 'Herbs & Spices': 1, 'Hot Pot': 15, 'Local Flavor': 3, 'Burmese': 4, 'Live/Raw Food': 18, 'Empanadas': 2, 'Dinner Theater': 0, 'Bistros': 25, 'Chocolatiers & Shops': 7, 'Specialty Schools': 2, 'Cooking Schools': 2, 'Colleges & Universities': 0, 'Education': 2, 'Uzbek': 2, 'Horseback Riding': 1, 'Vitamins & Supplements': 0, 'Arabian': 10, 'Brasseries': 70, 'Singaporean': 4, 'Home Decor': 1, 'Home & Garden': 3, 'Kitchen & Bath': 0, 'Appliances': 0, 'Wineries': 4, 'Street Vendors': 37, 'Tuscan': 1, 'Do-It-Yourself Food': 9, 'Books, Mags, Music & Video': 6, 'Bookstores': 4, 'Ukrainian': 3, 'Canadian (New)': 231, 'Poutineries': 31, 'International': 24, 'Arts & Crafts': 4, 'Chicken Shop': 26, 'Bikes': 0, 'Travel Services': 0, 'Furniture Stores': 0, 'Delicatessen': 12, 'Haitian': 3, 'Food Trucks': 159, 'Landmarks & Historical Buildings': 0, 'Public Services & Government': 0, 'Bangladeshi': 4, 'Czech': 2, 'Slovakian': 0, 'Egyptian': 4, 'Dominican': 3, 'Scottish': 46, 'Champagne Bars': 1, 'Patisserie/Cake Shop': 11, 'Art Galleries': 6, 'Tiki Bars': 0, 'Hotel bar': 1, 'Scandinavian': 8, 'Farmers Market': 1, 'Musicians': 0, 'Flea Markets': 0, 'Dry Cleaning & Laundry': 0, 'Local Services': 0, 'Financial Services': 1, 'Ethnic Grocery': 0, 'Puerto Rican': 7, 'Australian': 3, 'Swimming Pools': 2, 'Festivals': 5, 'Sri Lankan': 2, 'Hardware Stores': 0, 'Beer Garden': 29, 'Baden': 10, 'Beer Gardens': 14, 'Kebab': 35, 'Serbo Croatian': 4, 'Soccer': 0, 'Amateur Sports Teams': 2, 'Sports Clubs': 1, 'Hiking': 0, 'Boating': 0, 'Banks & Credit Unions': 0, 'Austrian': 0, 'Alsatian': 1, 'Oriental': 0, 'Shanghainese': 4, 'Tours': 0, 'Venezuelan': 7, 'Recreation Centers': 0, 'Bavarian': 1, 'Kids Activities': 0, 'Car Wash': 0, 'Framing': 0, 'Curry Sausage': 3, 'Rhinelandian': 0, 'Beer Hall': 0, 'Department Stores': 0, 'Eastern European': 0, 'Flowers & Gifts': 0, 'Florists': 0, 'Wok': 0, 'Whiskey Bars': 0, 'Macarons': 1, 'Trinidadian': 0, 'Lakes': 0, 'Swiss Food': 0, 'Guest Houses': 0, 'Music & DVDs': 0, 'Distilleries': 1, 'Pita': 0, 'Yoga': 0, 'Beauty & Spas': 1, 'Fitness & Instruction': 0, 'Day Spas': 0, 'Nutritionists': 0, 'Health & Medical': 0, 'Palatine': 0, "Men's Clothing": 0, 'Donairs': 0, 'DJs': 0, 'Poke': 4, 'Cosmetics & Beauty Supply': 0, 'Bartenders': 0, 'Senegalese': 0, 'Vinyl Records': 0, 'Olive Oil': 0, 'Hong Kong Style Cafe': 0, 'Wine Tasting Room': 0, 'Drive-Thru Bars': 0, 'Cabaret': 0}

In [7]:
def add_category(row):
    d = dict(rest_type)
    if 'Restaurants' in row['categories']:
        for element in row['categories']:
            if element in d.keys():
                d[element] = 1
            else:
                d[element] = 0
    else:
        d = 'Remove'
    
    return d

In [10]:
# data['zip_code'] = data.apply(lambda x: x['full_address'].split(' ')[-1], 1)
data['Restaurant_type'] = data.apply(lambda x: add_category(x), 1)

data.head()

,attributes,business_id,categories,city,full_address,hours,latitude,longitude,name,neighborhoods,open,review_count,stars,state,type,zip_code,Restaurant_type
0,"{'Take-out': True, 'Drive-Thru': False, 'Good ...",5UmKMjUEUNdYWqANhGckJw,"[Fast Food, Restaurants]",Dravosburg,"4734 Lebanon Church Rd\nDravosburg, PA 15034","{'Friday': {'close': '21:00', 'open': '11:00'}...",40.354327,-79.900706,Mr Hoagie,[],True,7,3.5,PA,business,15034,"{'Fast Food': 1, 'Bars': 2693, 'American (New)..."
1,"{'Happy Hour': True, 'Accepts Credit Cards': T...",UsFtqoBl7naz8AVUBZMjQQ,[Nightlife],Dravosburg,"202 McClure St\nDravosburg, PA 15034",{},40.350553,-79.886814,Clancy's Pub,[],True,5,3.0,PA,business,15034,Remove
2,{'Good for Kids': True},cE27W9VPgO88Qxe4ol6y_g,"[Active Life, Mini Golf, Golf]",Bethel Park,"1530 Hamilton Rd\nBethel Park, PA 15234",{},40.354115,-80.014660,Cool Springs Golf Center,[],False,5,2.5,PA,business,15234,Remove
3,"{'Alcohol': 'full_bar', 'Noise Level': 'averag...",mVHrayjG3uZ_RLHkLj-AMg,"[Bars, American (New), Nightlife, Lounges, Res...",Braddock,"414 Hawkins Ave\nBraddock, PA 15104","{'Tuesday': {'close': '19:00', 'open': '10:00'...",40.408830,-79.866211,Emil's Lounge,[],True,26,4.5,PA,business,15104,"{'Fast Food': 3153, 'Bars': 1, 'American (New)..."
4,"{'Parking': {'garage': False, 'street': False,...",mYSpR_SLPgUVymYOvTQd_Q,"[Active Life, Golf]",Braddock,"1000 Clubhouse Dr\nBraddock, PA 15104","{'Sunday': {'close': '15:00', 'open': '10:00'}...",40.403405,-79.855782,Grand View Golf Club,[],True,3,5.0,PA,business,15104,Remove

In [39]:
'''
#data['Restaurant_type'] = {}
#data.add(other
from collections import defaultdict

if 'Restaurant_type' not in data.columns:
    data.insert(0, 'Restaurant_type', None)

#data['Restaurant_type'] = defaultdict(int)
#print ("rest type..", data['Restaurant_type'])
for row in data['categories']:
    #print (row[-1])
    
    if row and row[-1] == "Restaurants":
        print ("what is row...", row)
        del row[-1]
        #print ("what is row.pop..", row.pop())
        #new_row = row.pop()
        #print ("new row..", new_row)
        
        print ("new row 2..", row)
        for item in row:
            print ("what is item..", item)
            data['Restaurant_type'][type] = 0#defaultdict(int)
            data['Restaurant_type'][type] += 1
            #print (type(data['Restaurant_type']))
        
'''

'\n#data[\'Restaurant_type\'] = {}\n#data.add(other\nfrom collections import defaultdict\n\nif \'Restaurant_type\' not in data.columns:\n    data.insert(0, \'Restaurant_type\', None)\n\n#data[\'Restaurant_type\'] = defaultdict(int)\n#print ("rest type..", data[\'Restaurant_type\'])\nfor row in data[\'categories\']:\n    #print (row[-1])\n    \n    if row and row[-1] == "Restaurants":\n        print ("what is row...", row)\n        del row[-1]\n        #print ("what is row.pop..", row.pop())\n        #new_row = row.pop()\n        #print ("new row..", new_row)\n        \n        print ("new row 2..", row)\n        for item in row:\n            print ("what is item..", item)\n            data[\'Restaurant_type\'][type] = 0#defaultdict(int)\n            data[\'Restaurant_type\'][type] += 1\n            #print (type(data[\'Restaurant_type\']))\n        \n'

<b>Exercise 3: Lets clean the 'attributes' column. The entries in this column are dictionaries. We need to do two things: </b>

<b> 1) Turn all the True or False in the dictionary to 1s and 0s.</b>

<b> 2) There are some entries within dictionaries that are dictionaries themselves, lets turn the whole entry into just one dictionary, for example if we have </b>

<b> '{'Accepts Credit Cards': True, 'Alcohol': 'none','Ambience': {'casual': False,'classy': False}}' </b>
<b> then turn it into</b>
<b> '{'Accepts Credit Cards':1, 'Alcohol_none': 1, 'Ambience_casual': 0, 'Ambience_classy': 0}'. </b>
<b> There might be other entries like {'Price Range': 1} where the values are numerical so we might want to change that into {'Price_Range_1': 1}.</b>

In [15]:
def Flat(row):
    d = row['attributes']
    dl = {}
    
    for element in d.keys():
        if type(d[element]) == bool:
            dl[element] = int(d[element])
        
        elif type(d[element]) == str:
            label = '{}_{}'.format(element, d[element])
        
        elif type(d[element])== int:
            label = '{}_{}'.format(element, d[element])
            dl[label] = 1
        
        elif type(d[element]) == dict:
            for elem in d[element].keys():
                label = '{}_{}'.format(element, elem)
                dl[label] = int(d[element][elem])
        
        else:
            print (element, d[element])
    
    return dl

In [16]:
data['attributes_clean'] = data.apply(lambda x: Flat(x), 1)

In [19]:
print (data['attributes_clean'][0:5])

0    {'Take-out': 1, 'Drive-Thru': 0, 'Good For_des...
1    {'Happy Hour': 1, 'Accepts Credit Cards': 1, '...
2                                 {'Good for Kids': 1}
3    {'Has TV': 1, 'Ambience_romantic': 0, 'Ambienc...
4    {'Parking_garage': 0, 'Parking_street': 0, 'Pa...
Name: attributes_clean, dtype: object

In [32]:
# df.somecolumn = df.somecolumn.astype(int)
# df.applymap(lambda x: 1 if x else np.nan)
# test.replace(False, 0, inplace=True)
new_data = data.applymap(lambda x: 1 if x == True else x)
new_data = data.applymap(lambda x: 0 if x == False else x)
data.replace(False, 0, inplace=True)
data.replace(True, 1, inplace=True)
#new_data = data.applymap(lambda x: 1 if x else 0)
print (data['attributes'])
'''
for keydata in data['attributes']:
    data['attributes'][keydata] = data['attributes'][keydata].astype(int)
print (data['attributes'])
print ("*****")
for keydata in attributes_data:
    print ("what is keydata", keydata)
    print ("end")
    #print (data['attributes'])
    #if data['attributes'][keydata].bool():
    #    data['attributes'][keydata] = 1
    #else:
    #    data['attributes'][keydata] = 0
'''

0        {'Take-out': True, 'Drive-Thru': False, 'Good ...
1        {'Happy Hour': True, 'Accepts Credit Cards': T...
2                                  {'Good for Kids': True}
3        {'Alcohol': 'full_bar', 'Noise Level': 'averag...
4        {'Parking': {'garage': False, 'street': False,...
5        {'Alcohol': 'full_bar', 'Noise Level': 'loud',...
6                           {'Accepts Credit Cards': True}
7                                  {'Good for Kids': True}
8                                                       {}
9                                                       {}
10                                       {'Wi-Fi': 'free'}
11                                                      {}
12       {'Take-out': True, 'Drive-Thru': False, 'Good ...
13       {'Parking': {'garage': False, 'street': False,...
14                                                      {}
15                          {'Accepts Credit Cards': True}
16                                                      {}
17       {'Alcohol': 'full_bar', 'Noise Level': 'averag...
18       {'Alcohol': 'none', 'Noise Level': 'average', ...
19       {'Take-out': True, 'Good For': {'dessert': Fal...
20       {'Accepts Credit Cards': True, 'Wi-Fi': 'free'...
21       {'Coat Check': False, 'Take-out': True, 'Good ...
22                                                      {}
23                         {'Accepts Credit Cards': False}
24       {'Take-out': True, 'Wi-Fi': 'no', 'Alcohol': '...
25                           {'By Appointment Only': True}
26       {'Take-out': True, 'Alcohol': 'none', 'Noise L...
27                                                      {}
28       {'Take-out': True, 'Wi-Fi': 'no', 'Good For': ...
29       {'By Appointment Only': False, 'Accepts Credit...
                               ...
85871    {'By Appointment Only': False, 'Accepts Credit...
85872    {'Take-out': False, 'Parking': {'garage': Fals...
85873                                                   {}
85874    {'Take-out': True, 'Wi-Fi': 'free', 'Outdoor S...
85875                                                   {}
85876                                                   {}
85877                                                   {}
85878                              {'Good for Kids': True}
85879                                                   {}
85880    {'Take-out': True, 'Wi-Fi': 'no', 'Good For': ...
85881    {'Take-out': True, 'Takes Reservations': True,...
85882    {'Parking': {'garage': False, 'street': False,...
85883                                                   {}
85884    {'Take-out': True, 'Takes Reservations': False...
85885    {'Take-out': True, 'Takes Reservations': False...
85886    {'Take-out': True, 'Wi-Fi': 'free', 'Good For'...
85887    {'Parking': {'garage': False, 'street': False,...
85888                       {'Accepts Credit Cards': True}
85889    {'Take-out': True, 'Wi-Fi': 'free', 'Good For'...
85890    {'Take-out': True, 'Takes Reservations': False...
85891                                                   {}
85892                       {'Accepts Credit Cards': True}
85893                                                   {}
85894    {'By Appointment Only': False, 'Parking': {'ga...
85895                                                   {}
85896                       {'Accepts Credit Cards': True}
85897    {'Take-out': True, 'Wi-Fi': 'no', 'Good For': ...
85898                                                   {}
85899    {'Accepts Credit Cards': True, 'Wi-Fi': 'free'...
85900                                                   {}
Name: attributes, dtype: object

'\nfor keydata in data[\'attributes\']:\n    data[\'attributes\'][keydata] = data[\'attributes\'][keydata].astype(int)\nprint (data[\'attributes\'])\nprint ("*****")\nfor keydata in attributes_data:\n    print ("what is keydata", keydata)\n    print ("end")\n    #print (data[\'attributes\'])\n    #if data[\'attributes\'][keydata].bool():\n    #    data[\'attributes\'][keydata] = 1\n    #else:\n    #    data[\'attributes\'][keydata] = 0\n'

<b> Exercise 4: Create a new column for every day of the week and fill it with the amount of hours the business is open that day.</b>

In [44]:

print (data['hours'][0:4])

0    {'Friday': {'close': '21:00', 'open': '11:00'}...
1                                                   {}
2                                                   {}
3    {'Tuesday': {'close': '19:00', 'open': '10:00'...
Name: hours, dtype: object

In [22]:
from datetime import datetime
# datetime_object = datetime.strptime('Jun 1 2005  1:33PM', '%b %d %Y %I:%M%p')

for day in data['hours'][0:4]:
    #print (day.keys())
    for key in day.keys():
        if key:
            #print (float(day[key]['close']) - float(day[key]['open']))
            closetime = datetime.strptime(day[key]['close'], '%H:%M')
            opentime = datetime.strptime(day[key]['open'], '%H:%M')
            mytimedelta = closetime - opentime
            data[key] = mytimedelta.seconds/3600
            
print (data['Monday'][0:5])

0    10.0
1    10.0
2    10.0
3    10.0
4    10.0
Name: Monday, dtype: float64

In [24]:
days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturaday']

FMT = '%H:%M'

def Time(row, date):
    try:
        closing = datetime.strptime(row['hours'][data]['close'], FMT)
        opening = datetime.strptime(row['hours'][data]['open'], FMT)
        time = closing - opening
        
        if time < timedelta(days=0):
            time += timedelta(days=1)
    
    except:
        time = timedelta(days=0)
    
    return time

In [25]:
for day in days:
    data[day] = data.apply(lambda x: Time(x, day), 1)

In [ ]:
data.head()

<b> Exercise 5: Create a table with the average review for a business. </b>

In [ ]:
# df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
# df = pd.DataFrame(raw_data, columns = ['regiment', 'company', 'deaths', 'battles', 
#                   'size', 'veterans', 'readiness', 'armored', 'deserters', 'origin'])

In [28]:
dataR = []

with open('yelp_dataset_challenge_academic_dataset/yelp_academic_dataset_review.json') as filestream:
    for line in filestream:
        dataR.append(simplejson.loads(line))

dfR = pd.DataFrame(dataR[:500])
dfR.head()

,business_id,date,review_id,stars,text,type,user_id,votes
0,5UmKMjUEUNdYWqANhGckJw,2012-08-01,Ya85v4eqdd6k9Od8HbQjyA,4,"Mr Hoagie is an institution. Walking in, it do...",review,PUFPaY9KxDAcGqfsorJp3Q,"{'funny': 0, 'useful': 0, 'cool': 0}"
1,5UmKMjUEUNdYWqANhGckJw,2014-02-13,KPvLNJ21_4wbYNctrOwWdQ,5,Excellent food. Superb customer service. I mis...,review,Iu6AxdBYGR4A0wspR9BYHA,"{'funny': 0, 'useful': 0, 'cool': 0}"
2,5UmKMjUEUNdYWqANhGckJw,2015-10-31,fFSoGV46Yxuwbr3fHNuZig,5,Yes this place is a little out dated and not o...,review,auESFwWvW42h6alXgFxAXQ,"{'funny': 1, 'useful': 1, 'cool': 0}"
3,5UmKMjUEUNdYWqANhGckJw,2015-12-26,pVMIt0a_QsKtuDfWVfSk2A,3,PROS: Italian hoagie was delicious. Friendly ...,review,qiczib2fO_1VBG8IoCGvVg,"{'funny': 0, 'useful': 0, 'cool': 0}"
4,5UmKMjUEUNdYWqANhGckJw,2016-04-08,AEyiQ_Y44isJmNbMTyoMKQ,2,First the only reason this place could possibl...,review,qEE5EvV-f-s7yHC0Z4ydJQ,"{'funny': 0, 'useful': 1, 'cool': 0}"

In [29]:
avgR = dfR.groupby('business_id')['stars'].mean().reset_index()

avgR.columns = ['business_id', 'star_avg']
avgR.head()

              business_id  star_avg
0  0hrB2iwQZ52VZcZWYywXrA  5.000000
1  1_lU0-eSWJCRvNGk78Zh9Q  4.333333
2  1u2NauOy8xDj7aFQET680A  3.000000
3  3ZVKmuK2l7uXPE6lXY4Dbg  2.333333
4  3gmBc0qN_LtGbZAjTtHWZg  3.363636

In [50]:
dfR = dfR.merge(avgR, how='left', on='business_id')
dfR.head()

,business_id,date,review_id,stars,text,type,user_id,votes,star_avg
0,5UmKMjUEUNdYWqANhGckJw,2012-08-01,Ya85v4eqdd6k9Od8HbQjyA,4,"Mr Hoagie is an institution. Walking in, it do...",review,PUFPaY9KxDAcGqfsorJp3Q,"{'funny': 0, 'useful': 0, 'cool': 0}",3.428571
1,5UmKMjUEUNdYWqANhGckJw,2014-02-13,KPvLNJ21_4wbYNctrOwWdQ,5,Excellent food. Superb customer service. I mis...,review,Iu6AxdBYGR4A0wspR9BYHA,"{'funny': 0, 'useful': 0, 'cool': 0}",3.428571
2,5UmKMjUEUNdYWqANhGckJw,2015-10-31,fFSoGV46Yxuwbr3fHNuZig,5,Yes this place is a little out dated and not o...,review,auESFwWvW42h6alXgFxAXQ,"{'funny': 1, 'useful': 1, 'cool': 0}",3.428571
3,5UmKMjUEUNdYWqANhGckJw,2015-12-26,pVMIt0a_QsKtuDfWVfSk2A,3,PROS: Italian hoagie was delicious. Friendly ...,review,qiczib2fO_1VBG8IoCGvVg,"{'funny': 0, 'useful': 0, 'cool': 0}",3.428571
4,5UmKMjUEUNdYWqANhGckJw,2016-04-08,AEyiQ_Y44isJmNbMTyoMKQ,2,First the only reason this place could possibl...,review,qEE5EvV-f-s7yHC0Z4ydJQ,"{'funny': 0, 'useful': 1, 'cool': 0}",3.428571

<b> Exercise 6: Create a new table that only contains restaurants with the following schema: </b>
<b> Business_Name | Restaurant_type | Friday hours | Saturday hours | Attributes | Zipcode | Average Rating </b>

In [40]:
'''
# df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
restaurant_df = pd.DataFrame(, columns=['Business_Name', 'Restaurant_type', 'Friday_hours', 
                                        'Saturaday_hours', 'Attributes', 'Zipcode', 'Average_Rating'])

for venue in data[0:5]:
    if 'Restaurants' in venue:
'''

"\n# df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))\nrestaurant_df = pd.DataFrame(, columns=['Business_Name', 'Restaurant_type', 'Friday_hours', \n                                        'Saturaday_hours', 'Attributes', 'Zipcode', 'Average_Rating'])\n\nfor venue in data[0:5]:\n    if 'Restaurants' in venue:\n"

In [51]:
dfAll = dfR.merge(data, how='left', on='business_id')
dfAll.head()

,business_id,date,review_id,stars_x,text,type_x,user_id,votes,star_avg,attributes,...,Restaurant_type,attributes_clean,Friday,Tuesday,Thursday,Wednesday,Monday,Saturday,Sunday,Saturaday
0,5UmKMjUEUNdYWqANhGckJw,2012-08-01,Ya85v4eqdd6k9Od8HbQjyA,4,"Mr Hoagie is an institution. Walking in, it do...",review,PUFPaY9KxDAcGqfsorJp3Q,"{'funny': 0, 'useful': 0, 'cool': 0}",3.428571,"{'Take-out': True, 'Drive-Thru': False, 'Good ...",...,"{'Fast Food': 1, 'Bars': 2693, 'American (New)...","{'Take-out': 1, 'Drive-Thru': 0, 'Good For_des...",0 days,0 days,0 days,0 days,0 days,6.0,0 days,0 days
1,5UmKMjUEUNdYWqANhGckJw,2014-02-13,KPvLNJ21_4wbYNctrOwWdQ,5,Excellent food. Superb customer service. I mis...,review,Iu6AxdBYGR4A0wspR9BYHA,"{'funny': 0, 'useful': 0, 'cool': 0}",3.428571,"{'Take-out': True, 'Drive-Thru': False, 'Good ...",...,"{'Fast Food': 1, 'Bars': 2693, 'American (New)...","{'Take-out': 1, 'Drive-Thru': 0, 'Good For_des...",0 days,0 days,0 days,0 days,0 days,6.0,0 days,0 days
2,5UmKMjUEUNdYWqANhGckJw,2015-10-31,fFSoGV46Yxuwbr3fHNuZig,5,Yes this place is a little out dated and not o...,review,auESFwWvW42h6alXgFxAXQ,"{'funny': 1, 'useful': 1, 'cool': 0}",3.428571,"{'Take-out': True, 'Drive-Thru': False, 'Good ...",...,"{'Fast Food': 1, 'Bars': 2693, 'American (New)...","{'Take-out': 1, 'Drive-Thru': 0, 'Good For_des...",0 days,0 days,0 days,0 days,0 days,6.0,0 days,0 days
3,5UmKMjUEUNdYWqANhGckJw,2015-12-26,pVMIt0a_QsKtuDfWVfSk2A,3,PROS: Italian hoagie was delicious. Friendly ...,review,qiczib2fO_1VBG8IoCGvVg,"{'funny': 0, 'useful': 0, 'cool': 0}",3.428571,"{'Take-out': True, 'Drive-Thru': False, 'Good ...",...,"{'Fast Food': 1, 'Bars': 2693, 'American (New)...","{'Take-out': 1, 'Drive-Thru': 0, 'Good For_des...",0 days,0 days,0 days,0 days,0 days,6.0,0 days,0 days
4,5UmKMjUEUNdYWqANhGckJw,2016-04-08,AEyiQ_Y44isJmNbMTyoMKQ,2,First the only reason this place could possibl...,review,qEE5EvV-f-s7yHC0Z4ydJQ,"{'funny': 0, 'useful': 1, 'cool': 0}",3.428571,"{'Take-out': True, 'Drive-Thru': False, 'Good ...",...,"{'Fast Food': 1, 'Bars': 2693, 'American (New)...","{'Take-out': 1, 'Drive-Thru': 0, 'Good For_des...",0 days,0 days,0 days,0 days,0 days,6.0,0 days,0 days

In [47]:
dfAll.head()

,business_id,date,review_id,stars_x,text,type_x,user_id,votes,attributes,categories,...,Restaurant_type,attributes_clean,Friday,Tuesday,Thursday,Wednesday,Monday,Saturday,Sunday,Saturaday
0,5UmKMjUEUNdYWqANhGckJw,2012-08-01,Ya85v4eqdd6k9Od8HbQjyA,4,"Mr Hoagie is an institution. Walking in, it do...",review,PUFPaY9KxDAcGqfsorJp3Q,"{'funny': 0, 'useful': 0, 'cool': 0}","{'Take-out': True, 'Drive-Thru': False, 'Good ...","[Fast Food, Restaurants]",...,"{'Fast Food': 1, 'Bars': 2693, 'American (New)...","{'Take-out': 1, 'Drive-Thru': 0, 'Good For_des...",0 days,0 days,0 days,0 days,0 days,6.0,0 days,0 days
1,5UmKMjUEUNdYWqANhGckJw,2014-02-13,KPvLNJ21_4wbYNctrOwWdQ,5,Excellent food. Superb customer service. I mis...,review,Iu6AxdBYGR4A0wspR9BYHA,"{'funny': 0, 'useful': 0, 'cool': 0}","{'Take-out': True, 'Drive-Thru': False, 'Good ...","[Fast Food, Restaurants]",...,"{'Fast Food': 1, 'Bars': 2693, 'American (New)...","{'Take-out': 1, 'Drive-Thru': 0, 'Good For_des...",0 days,0 days,0 days,0 days,0 days,6.0,0 days,0 days
2,5UmKMjUEUNdYWqANhGckJw,2015-10-31,fFSoGV46Yxuwbr3fHNuZig,5,Yes this place is a little out dated and not o...,review,auESFwWvW42h6alXgFxAXQ,"{'funny': 1, 'useful': 1, 'cool': 0}","{'Take-out': True, 'Drive-Thru': False, 'Good ...","[Fast Food, Restaurants]",...,"{'Fast Food': 1, 'Bars': 2693, 'American (New)...","{'Take-out': 1, 'Drive-Thru': 0, 'Good For_des...",0 days,0 days,0 days,0 days,0 days,6.0,0 days,0 days
3,5UmKMjUEUNdYWqANhGckJw,2015-12-26,pVMIt0a_QsKtuDfWVfSk2A,3,PROS: Italian hoagie was delicious. Friendly ...,review,qiczib2fO_1VBG8IoCGvVg,"{'funny': 0, 'useful': 0, 'cool': 0}","{'Take-out': True, 'Drive-Thru': False, 'Good ...","[Fast Food, Restaurants]",...,"{'Fast Food': 1, 'Bars': 2693, 'American (New)...","{'Take-out': 1, 'Drive-Thru': 0, 'Good For_des...",0 days,0 days,0 days,0 days,0 days,6.0,0 days,0 days
4,5UmKMjUEUNdYWqANhGckJw,2016-04-08,AEyiQ_Y44isJmNbMTyoMKQ,2,First the only reason this place could possibl...,review,qEE5EvV-f-s7yHC0Z4ydJQ,"{'funny': 0, 'useful': 1, 'cool': 0}","{'Take-out': True, 'Drive-Thru': False, 'Good ...","[Fast Food, Restaurants]",...,"{'Fast Food': 1, 'Bars': 2693, 'American (New)...","{'Take-out': 1, 'Drive-Thru': 0, 'Good For_des...",0 days,0 days,0 days,0 days,0 days,6.0,0 days,0 days

In [52]:
dfAll = dfAll[dfAll['Restaurant_type'] != 'Remove']
dfAll = dfAll[['name', 'Restaurant_type', 'Friday', 'Saturaday', 'attributes_clean', 'zip_code', 'star_avg']]

In [53]:
dfAll.head()

,name,Restaurant_type,Friday,Saturaday,attributes_clean,zip_code,star_avg
0,Mr Hoagie,"{'Fast Food': 1, 'Bars': 2693, 'American (New)...",0 days,0 days,"{'Take-out': 1, 'Drive-Thru': 0, 'Good For_des...",15034,3.428571
1,Mr Hoagie,"{'Fast Food': 1, 'Bars': 2693, 'American (New)...",0 days,0 days,"{'Take-out': 1, 'Drive-Thru': 0, 'Good For_des...",15034,3.428571
2,Mr Hoagie,"{'Fast Food': 1, 'Bars': 2693, 'American (New)...",0 days,0 days,"{'Take-out': 1, 'Drive-Thru': 0, 'Good For_des...",15034,3.428571
3,Mr Hoagie,"{'Fast Food': 1, 'Bars': 2693, 'American (New)...",0 days,0 days,"{'Take-out': 1, 'Drive-Thru': 0, 'Good For_des...",15034,3.428571
4,Mr Hoagie,"{'Fast Food': 1, 'Bars': 2693, 'American (New)...",0 days,0 days,"{'Take-out': 1, 'Drive-Thru': 0, 'Good For_des...",15034,3.428571